<script>
    export let contents
</script>

<section data-section="Presentation">
    <article>
        <p data-presentation="bio">{contents.bio}</p>
        <ul>
            {#each ["GitLab", "Telegram", "LinkedIn"] as item}
                <li>
                    {item}:
                    <a target="_blank" rel="noopener" href={contents[item.toLowerCase()]}>
                        {contents[item.toLowerCase()]}
                    </a>
                </li>
            {/each}
        </ul>
    </article>
</section>

<style>
    ul {
        list-style: none;
        padding: 0;

        & li {
            font-family: monospace;
        }
    }
</style>
