<slot />
<svelte:head>
    <title>Víctor González (mrvik)</title>
</svelte:head>

<style>
    :global(:root) {
        --link-color: #5e81ac;
        --bg-color: #eceff4;
        --fg-color: #2e3440;
        --bar-color: #d8dee9aa;
        background-color: var(--bg-color);
        color: var(--fg-color);
    }

    @media screen and (prefers-color-scheme: dark) {
        :global(:root) {
            --link-color: #88c0d0;
            --bg-color: #2e3440;
            --fg-color: #d8dee9;
            --bar-color: #3b4252aa;
        }
    }

    :global(:link, :visited) {
        color: var(--link-color);
    }

    :global(body) {
        margin: 0;
        padding: 0;
    }

    :global(h1, h2, h3) {
        font-family: sans-serif;
    }

    :global(section) {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

    :global(section > article > pre) {
        white-space: pre-wrap;
    }
</style>
