<script>
    import Presentation from "$lib/presentation.svelte"

    function formatLanguages(lgs) {
        const fm = lgs.map(({ name, share }) => `${name} (${share.toFixed(2)})`)

        return `[${fm.join(" ")}]`
    }

    export let data
</script>

<h1>{data.presentation.name}</h1>
<Presentation contents={data.presentation} />
<section data-section="Projects">
    <h2>Projects</h2>
    {#if data.projects.error}
        <div>
            <p>An error has occurred while fetching projects. Please try again</p>
            <pre>{data.projects.error}</pre>
        </div>
    {:else}
        {#each data.projects.list as project}
            <article>
                <h2>{project.name}</h2>
                <pre>
{#if project.description}{project.description}{/if}

Forks: {project.forks}
Stars: {project.stars}
Written in: {formatLanguages(project.languages)}
            </pre>
                <a href={project.link} target="_blank" rel="noopener">{project.fullPath}</a>
            </article>
        {/each}
    {/if}
</section>

<style lang="scss">
    h1 {
        padding: 6pt 4pt;
        display: block;
        margin: 0;
        position: sticky;
        top: 0;
        backdrop-filter: blur(20px);
        background-color: var(--bar-color);
    }

    section[data-section="Projects"] {
        display: flex;
        flex-wrap: wrap;

        & > h2 {
            width: 100%;
        }

        & > article {
            flex: 1 0 21%;
            margin: 1vh 1vw;
            border: 2pt solid var(--fg-color);
            padding: 1vh 1vw;
        }

        & > article > h2 {
            margin-top: 0;
        }
    }
</style>
